@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Bangers);
body {
	margin:0;
	padding:0;
	background-color: yellow;
}
ul {
	margin:0;
	padding:0;
}
ul#parallax li {
	list-style: none;
	overflow: hidden;
	height: 700px;

	position:relative;
}

.parallax-background {
	height: 800px;
}

.parallax-background.city {
	background-image: url('../img/city.jpg');
	
	background-position: 50% 55%;
}
.parallax-background.hands {
	background-image: url('../img/hands.jpg');
	
	background-position: 50% 100%;
}
.parallax-background.blur {
	background-image: url('../img/blurpeople.jpg');
	
	background-position: 50% 50%;
}
.parallax-background.desk {
	background-image: url('../img/desk.jpg');
	
	background-position: 50% 100%;
}

div.subcontent {
	position: absolute;
	top: 100px;
	left: 100px;
	font-family: helvetica;
}
div.subcontent2 {
	position: absolute;
	top: 700px;
	right: 30px;
	font-family: helvetica;
}
div.subcontent3 {
	position: absolute;
	top: 1300px;
	left: 100px;
	font-family: helvetica;
}
h1#textcontent1 {
	font-size: 100px;
	margin-bottom: 0;
	padding: 2px;
	text-align: center;
	width: 700px;
	box-shadow: 5px 5px 20px white;
	color:white;
	background-color: red;
	text-shadow: 2px 2px black; 
	font-family: 'Bangers', cursive;
	-webkit-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;

}
h1#textcontent1:hover {
	font-size: 100px;
	margin-bottom: 0;
	padding: 2px;
	text-align: center;
	width: 700px;
	box-shadow: 20px 20px 20px red;
	color:red;
	background-color: white; 
	font-family: 'Bangers', cursive;
	-webkit-transform: scale(1.1);
    transform: scale(1.1);

}
h6#subtextcontent1 {
	font-size: 80px;
	margin-top: 20px;
	color: green;
	padding: 5px;
	text-align: center;
	background-color: yellow;
	border-radius: 5%;
	float:left;
	text-shadow: 2px 2px black;
	font-family: 'Bangers', cursive;
	-webkit-transition: all .8s ease-in-out;
     transition: all .8s ease-in-out; 
}
h6#subtextcontent1:hover {
	font-size: 40px;
	margin-top: 20px;
	color: green;
	padding: 5px;
	text-align: center;
	background-color: yellow;
	border-radius: 5%;
	float:left;
	font-family: 'Bangers', cursive; 
	-webkit-transform: rotateY(980deg);
    transform: rotateY(980deg);
}
h1#textcontent2 {
	font-size: 100px;
	margin-top: 50px;
	margin-bottom: 0;
	color:red;
	text-align: left;
	text-shadow: 2px 2px white; 
	font-family: 'Bangers', cursive;
}
h4#textcontent3 {
	font-size: 100px;
	margin-top: 200px;
	margin-bottom: 0;
	color:yellow;
	background-color: purple;
    box-shadow:10px 10px 10px grey; 
    padding-left: 5px;
    border-radius: 5%;
	text-align: left;
	text-shadow: 2px 2px black; 
	font-family: 'Bangers', cursive;
	-webkit-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
h4#textcontent3:hover {
	font-size: 100px;
	margin-top: 200px;
	margin-bottom: 0;

	color:purple;
	background-color: yellow;
	box-shadow:  
	text-align: left; 
	font-family: 'Bangers', cursive;
	-webkit-transform: rotateY(540deg);
    transform: rotateY(540deg);
}
h2#subtextcontent3 {
	margin-top: 20px;
	color: brown;
	text-shadow: 5px 2px white;
	font-family: 'Bangers', cursive;
}
h6#subtextcontent1_2 {
	font-size: 40px;
	margin-top: 100px;
	margin-left: 40px;
	color:yellow;
	background-color: darkblue;
	border-radius: 5%;
	padding: 10px;
	text-shadow: 2px 2px red;
	font-family: 'Bangers', cursive;
	float:left; 
	-webkit-transition: all .8s ease-in-out;
     transition: all .8s ease-in-out; 
}
h6#subtextcontent1_2:hover {
	font-size: 40px;
	margin-top: 100px;
	margin-left: 40px;
	color:yellow;
	background-color: darkblue;
	border-radius: 5%;
	padding: 10px;
	font-family: 'Bangers', cursive;
	float:left;
	-webkit-transform: rotateX(980deg);
    transform: rotateX(980deg); 
}
h6#subtextcontent2 {
	font-size: 40px;
	color: white;
	text-align: right;
	font-family: 'Bangers', cursive;
}
img#mainimage1 {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 10px solid grey;
	 -webkit-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;

	margin-left: 200px;
	margin-top: -10px;
	
}
img#mainimage1:hover {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 10px solid yellow;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 20px 20px 20px red;
    background-color: aqua;
    color: black;
}
div#innerbox1 {
	box-shadow: 5px 5px 10px lightgrey; /*first is the x-value*/
	text-align: left;
	border-radius: 10px;
	float: right;
	height: 350px;
	width: 700px;
	margin-top: 30px;
	margin-right: 75px;
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 20px;
	background-color: lightblue;
	 -webkit-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
}
div#innerbox:hover {
	box-shadow: 10px 10px 10px 10px red; /*first is the x-value*/
	text-align: left;
	border-radius: 10px;
	float: right;
	height: 350px;
	width: 700px;
	margin-top: 30px;
	margin-right: 75px;
	padding-top: 20px;
	padding-left: 35px;
	padding-right: 20px;
	border:2px solid white;
	background-color: lightgreen;
	background-image: url('../img/.jpg');
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
}
div#innerbox2 {
	box-shadow: 20px 20px 10px black; /*first is the x-value*/
	text-align: left;
	border: ;
	border-radius: 10px;
	float: right;
	height: 350px;
	width: 700px;
	margin-top: 30px;
	margin-right: 75px;
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 20px;
	background-color: lightblue;
	 -webkit-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
}
img#logo_h5 {
	width: 100px;
	height: 90px;
	-webkit-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
}
img#logo_h5:hover {
	width: 100px;
	height: 90px;
	-webkit-transform: rotateY(980deg);
    transform: rotateY(980deg); 
}
img#logo_c3 {
	width: 100px;
	height: 90px;
}
img#logo_js {
	width: 100px;
	height: 90px;
}
img#logo_git {
	width:70px;
	height: 80px;
	margin-top: 17px;
	margin-left: 15px;

}
img#logo_ps {
	width:70px;
	height: 80px;
	margin-top: 17px;
	margin-left: 20px;

}
ul#skillSummary1 li.skilltext {
	
	 
}
h6.titlecontent {
	color: blue;
	text-shadow: 2px 2px yellow;
	font-family: 'Bangers', cursive;
	 -webkit-transition: all .8s ease-in-out;
     transition: all .8s ease-in-out;
}
h6.titlecontent:hover {
	font-size: 120px;
	color: blue;
	font-family: 'Bangers', cursive;
	-webkit-transform: rotateX(980deg);
    transform: rotateX(980deg);
}
li.skilltext {
	color:blue;
	 -webkit-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;
}
li.skilltext:hover {
	color: yellow;
	text-shadow: 2px 2px grey;
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: blue;
    box-shadow: 5px 5px 5px white;
}
